.CompetencePage {
}
.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.menu-column {
  width: 30%;
}

.column {
  width: 70%;
}

.menu-column-content {
  padding: 2vh 6vh;
}

.radar-content {
  padding: 2vh 16vh;
}
.logo-container {
  height: 75%;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.logo-content {
  padding: 10px 0;
  width: 100%;
  text-align: center;
}

.logo-image {
  width: 400px;
}

@media screen and (max-width: 1192px) {
  .menu-column {
    width: 40%;
  }

  .column {
    width: 60%;
  }
  .menu-column-content {
    padding: 4vh;
  }
  .radar-content {
    padding: 8vh;
  }
}

@media screen and (max-width: 800px) {
  .menu-column {
    width: 100%;
  }

  .column {
    width: 100%;
  }

  .menu-column-content {
    padding: 4vh;
  }
  .radar-content {
    padding: 2vh;
  }
  .logo-image {
    width: 80%;
  }
}
