.CompetencePage {
}
.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.menu-column {
  width: 30%;
}

.column {
  width: 70%;
}

.menu-column-content {
  padding: 6vh;
}

.radar-content {
  padding: 2vh 16vh;
}

@media screen and (max-width: 1192px) {
  .menu-column {
    width: 40%;
  }

  .column {
    width: 60%;
  }
  .menu-column-content {
    padding: 4vh;
  }
  .radar-content {
    padding: 8vh;
  }
}

@media screen and (max-width: 800px) {
  .menu-column {
    width: 100%;
  }

  .column {
    width: 100%;
  }

  .menu-column-content {
    padding: 4vh;
  }
  .radar-content {
    padding: 2vh;
  }
}
